* a {
  text-decoration: none;
}

.links {
  text-decoration: none;
  color: gray;
}

.links:hover {
  color: #212529;
}

.col-md-3 {
  background-color: #0150b9 !important;
  height: 100vh;
}

header {
  background: #222831;
  color: white;
}

nav {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.time-table-item {
  display: inline-block !important;
  text-align: center;
}

i {
  font-style: none;
}

.btn {
  border-radius: 32px !important;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

.bg-sky {
  background-color: #02c2c7;
}

.bg-lightred {
  background-color: #ff5722;
}

.bg-green {
  background-color: #4ca520;
}

.bg-yellow {
  background-color: #f0d001;
}

.bg-brown {
  background-color: #C70039;
}

.bg-pink {
  background-color: #e82d8b;
}

.bg-purple {
  background-color: #8343e8;
}

.padding-15px-lr {
  padding-left: 15px;
  padding-right: 15px;
}

.padding-5px-tb {
  padding-top: 5px;
  padding-bottom: 5px;
}

.margin-10px-bottom {
  margin-bottom: 10px;
}

.border-radius-5 {
  border-radius: 46px;
}

.margin-10px-top {
  margin-top: 10px;
}

.font-size14 {
  font-size: 14px;
}

.text-light-gray {
  color: #d6d5d5;
}

.font-size13 {
  font-size: 13px;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.collapsible {
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  margin-bottom: 3px;
  padding: 1.35rem 1.25rem;
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
}

.collapsible:after:hover {
  color: white !important;
}

.active,
.collapsible:hover {
  background-color: #555;
  color: white;
}

.collapsible:after {
  flex-shrink: 0;
  margin-left: auto;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  content: "\002B";
}

.collapsible:after:hover {
  color: white !important;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
  background-color: #f6f5f5;
  margin-bottom: 3px;
}

footer {
  background: #222831;
  color: white;
}

@media only screen and (max-width: 991.98px) {
  .margin-10px-top {
    padding: 0 17px;
  }

  .col-md-3 {
    height: 12vh !important;
    transition: 0.5s;
  }

  .col-md-8 {
    padding: 5px !important;
    height: 75vh;
  }

  footer {
    text-align: center !important;
  }
}
